* {
  margin: 0;
  padding: 0;
  color: hsl(0, 0%, 98%);
  font-family: "Helvetica Neue";
  font-weight: 300;
}
body {
  min-width: 100vh;

  background-color: #232325;
}
li {
  list-style-type: none;
}
.stickyNav {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  left: 0;
  top: 0;
  flex-direction: row;
  justify-content: space-between;
  background: linear-gradient(
    180deg,
    #232325 52.08%,
    rgba(35, 35, 37, 0.1) 94%
  );
}
.stickyNav h1 {
  margin: 26px 70px 0 0;
  font-weight: 500;
}
.stickyUl a {
  text-decoration: none;
}
.stickyUl a:hover {
  text-decoration: underline 3px #ffc657;
}
.stickyUl {
  display: flex;
  list-style-type: none;
  margin-left: 20px;
}
.stickyUl li {
  display: inline;
  margin: 20px 20px 20px 0;
}
.liBorder {
  border: 1px solid white;
  border-radius: 13px;
  padding: 10px 35px 10px 35px;
}
.liNoBorder {
  border: 1px solid transparent;
  padding: 10px 20px 10px 20px;
}
#about {
  padding: 100px;
}
.aboutWrapper {
  position: absolute;
  padding-left: 10%;
}
.aboutCard {
  height: 408px;
  background: #2d2d2e;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
  border-radius: 46px 0px 171.5px 46px;
}
.aboutBlueCircle {
  position: absolute;
    width: 342px;
    height: 342px;
    border-radius: 50%;
    top: 200px;
    margin-left: 60%;
    background: #2e525e;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 25%);
}
.aboutYellowCircle {
  position: absolute;
  width: 250px;
  height: 250px;
  left: 65%;
  top: 200px;
  border-radius: 50%;
  background: #ffc657;
  box-shadow: 60px 60px 100px rgb(0 0 0 / 25%);
}
.avatar {
  width: 90%;
  border-radius: 70%;
  margin-left: 5%;
  margin-top: 5%;
}
.aboutH1 {
  padding-top: 30px;
  font-size: 60px;
  max-width: 400px;
  font-weight: 600;
}
.aboutP {
  max-width: 500px;
  font-size: 24px;
}
#projects {
  background-color: #2d2d2e;
}
.caseBtn {
  background-color: #2e525e;
  padding: 10px 20px 10px 20px;
  border-radius: 16px;
  letter-spacing: 2px;
  margin-top: 30px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.comingSoon {
  margin-top: 30px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
  font-weight: 500;
}
.yellowColor {
  color: #ffc657;
}
.projectH1 {
  max-width: 350px;
  font-size: 30px;
  margin-left: 200px;
  padding-top: 50px;
}
.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
}
.projectCard {
  display: flex;
  max-width: 1000px;
}
.case :nth-child(2) {
  flex-direction: row-reverse;
}
.project {
  padding: 80px;
}
.title {
  font-weight: 500;
  padding-bottom: 10px;
}
.brief {
  max-width: 300px;
}
.roundShape {
  margin: 20px;
  width: 312px;
  height: 312px;
  left: 886px;
  top: 1794px;
  border-radius: 100%;
  background: #2e525e;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}
.resumeH1 {
  font-size: 30px;
  padding: 120px 0px 50px 0px;
  text-align: center;
}
.resumeBtn {
  margin: 20px;
  padding: 20px 30px 20px 30px;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 24px;
  border: 1px solid #575361;
  font-weight: 400;
  background-color: rgba(255, 255, 255, 0.05);
}
.resumeBtnWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactH1 {
  font-size: 25px;
  max-width: 600px;
  font-weight: 350;
}
.contactBtn {
  background-color: #fdc456;
  border: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 30px;
  padding: 20px 25px 20px 25px;
}
.contactBtn a {
  text-decoration: none;
  font-weight: 400;
  font-size: 17px;
}
.contactField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 120px 0px 120px 120px;
  margin-top: 100px;
  background-color: #2d2d2e;
  margin-bottom: 150px;
  max-width: 100%;
}
#projectProfile {
  color: white;
  margin-top: 100px;
}
.profile:nth-child(even) {
  background-color: #282d31;
}
.profile {
  width: 100%;
  padding: 70px;
}
.profileH1 {
  font-size: 40px;
  padding-bottom: 10px;
}
.profileP {
  font-size: 20px;
  padding-bottom: 40px;
  max-width: 300px;
}
.profileH2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  max-width: 300px;
}
.projectIntro {
  padding: 40px;
}
